<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Exzeo Test</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Cabin|Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="index.html"><i class="fa fa-music"></i>Wkrp</a></li>
			</ul>
		</nav>
		<div class="button-container">
			<button id="topTen"><i class="fa fa-star"></i>Top 10</button>
			<button id="all100"><i class="fa fa-list"></i>All 100</button>
		</div>
	</header>
	<div class="big-picture">
		<div class="text-background">
			<h1>Music for people who just go with the crowd.</h1>
			<p>Main Stream Mega Garbage is the Radio Station for you. We play only the worst possible music we can find. Not enough? We promise to only play five songs a day, just in randomized order. Talk show that promotes bigotry and hypocrisy coming soon.</p>
		</div>
	</div>
	<main>
		<h1>List of songs no one should listen to:</h1>
     	<div class="theTarget"></div>
	</main>
	<script id="theTemplate" type='text/template'>
		<div class="container">
			<p class="rank"><%= rank_this_week %></p>
				<div class="songAndArtist">
					<p class="title"><%= chart_item_title %></p>
    				<p class="artist"><%= artist %></p>
				</div>
		</div>
    </script>
    <script id="topTenTemplate" type='text/template'>
    	<div class="container">
				<div class="songAndArtist">
					<p class="title"><%= title %></p>
    				<p class="artist"><%= artist %></p>
				</div>
		</div>
    </script>
	<script src='bower_components/jquery/dist/jquery.js'></script>
	<script src='bower_components/underscore/underscore.js'></script>
	<script src='scripts/main.js'></script>
</body>
</html>